.nav {
  grid-area: nav;
  background-color: #4267B2;
  border-radius: 15px;
  min-height: 300px;
}

.items {
  list-style-type: none;
  margin: 0;
  padding: 15px 15px 0 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  color: white;
  text-decoration: none;
}

.item:hover {
  color: gold;
}

.active {
  color: gold;
  text-decoration: none;
}