.nav {
  grid-area: nav;
  color: #fff;
  background-color: #292929;
  border-radius: 15px;
  min-height: 300px;
}

.items {
  list-style-type: none;
  margin: 0;
  padding: 15px 15px 0 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item:hover {
  color: #5181b8;
}

.active {
  color: #5181b8;
}