.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    gap: 20px;
}

.imgBlock {
    /* min-height: 400px; */
}

.imgBlock img {
    display: block;
    width: 100%;
    object-fit: cover;
    background-color: black;
}