* {
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  line-height: calc(20 / 16);
}
.container {
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto;
  height: 99vh;
}

.app-wrapper {
  display: grid;
  grid-template-areas:
  "header header header"
  "nav content content";
  grid-template-rows: 1fr 11fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app-wrapper__content {
  grid-area: content;
  background-color: #292929;
  border-radius: 15px;
}
