* {
  box-sizing: border-box;
}
.container {
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto;
  /* height: 100vh; */
}

.app-wrapper {
  display: grid;
  grid-template-areas:
  "header header header"
  "nav content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
